<div class="show-booking">
<div class="row">
  <h2 style="padding: 20px;">ギフトが送信されました！</h2>
  <div class="col-md-7">
<p>発行ギフトの詳細</p>
<ul class="booking-detail">
  <h3>相手のお名前</h3>
  <li><%= @booking.to_name %></li>
  <h3>ギフトの種類</h3>
  <li><%= @booking.gift_type %></li>
  <h3>ひと言メッセージ</h3>
  <li><%= @booking.message %></li>
  <h3>お届け方法</h3>
  <li><%= @booking.delivery_method %></li>
  <h3>お相手のメールアドレス</h3>
  <li><%= @booking.to_email %></li>
  <h3>差出人のお名前</h3>
  <li><%= @booking.from_name %></li>
  <h3>差出人のメールアドレス</h3>
  <li><%= @booking.from_email %></li>
</ul>
</div>
<div class="col-md-5">
  <h3>ギフトカード</h3>
  <p>*送付されるギフトカードは現在準備中です。</p>
  <p>以下のカードはサンプルです。</p>
<%= image_tag "sample2.png" , :class => "sample-booking"%>
</div>

</div>
<br />
  <%= button_to 'ホームに戻る', items_path, method: :get, :class => "btn btn-info" %>

</div>