<div class="user-form">
<%= form_for @user do |f| %>
  <h3>ログインID</h3>
  <%= f.text_field :name,  class: "form-control" %>
  <h3>メールアドレス</h3>
  <%= f.email_field :email, class: "form-control" %>
  <h3>電話番号</h3>
  <%= f.text_field :number, class: "form-control"%>
  <h3>パスワード</h3>
  <%= f.password_field :password, class: "form-control" %>
  <h3>パスワード確認</h3>
  <%= f.password_field :password_confirmation, class: "form-control" %>
  <br />
  <p>*プロトタイプ版につき、登録を受け付けておりません。</p>
  <p>興味のある方は<%= link_to "こちらへご連絡ください", question_new_path%></p>
  <%= f.submit :class =>  "btn btn-primary position-button", :disabled => true %>
<% end %>
</div>