<h1>Hello <%= current_user.name %> </h1>
<br/>

<% item = Item.find_by(user_id: current_user.id) %>
<% if item %>
  <h3>Name: <%= item.title %></h3>
  <% bookings = Booking.where(item_id: item.id) %>
  <% if bookings %>
      <table class="table table-striped">
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>gift type</th>
          <th>validation</th>
        </tr>
    <% bookings.each do |booking| %>
        <tr>
          <td><%= booking.id %></td>
          <td><%= booking.to_name %></td>
          <td><%= booking.gift_type %></td>
          <% if booking.validation == false %>
            <td><%= button_to 'validate', {:controller => "bookings", :action => "validate_booking_confirm", :booking_id => booking.id}, method: :post, :class =>  "btn btn-primary" %></td>
          <% else %>
            <td>validated</td>
          <% end %>
        </tr>
    <% end %>
      </table>
  <% else %>
  <p>no bookings</p>
  <% end %>
<% end %>



