<div class="summary">
      <h2><%= @item.title %></h2>
      <p><%= (("★"*@item.reputation)+"☆"*5).slice(0..4) || "評価はまだありません" %></p>
      <p><%= @item.location || "住所未登録" %> | <%= "$"*@item.price || "価格未登録" %></p>
<div class="container color-item-summary">
  <div class="position-image">
      <p><%= image_tag @item.image, :class => "booking_item_img position-item-summary" %></p>
  </div>
</div>
  </div>
</div>
