# coding: utf-8

<div class="padding-items">
  <table border="1" class="item-table">
  <% if (items.length==0) then %>  
   <tr><td>
    <h3>一致なし</h3>
   </tr></td>
  <% else %>
    <% items.each do |item| %>
      <tr><td>
        <div class="item">
          <div class="row">
            <div class="col-md-2 ">
              <%= link_to image_tag((item.image), class:"thumnail-item"), item_path(item.id) %>
                <%= button_to 'check', item_path(item.id), method: :get, :class => "btn btn-info" %>
            </div>
            <div class="col-md-4">
            <%= link_to item.title, item_path(item.id) %>
            <p><%= (("★"*(item.reputation || 0))+"☆"*5).slice(0..4) || "評価なし"%></p>
            <br>
            <p><%= "$"*(item.price || 1) %></p>
            <br>
            <p><%= item.location %></p>
            </div>
            <div class="col-md-6">
              <%= item.body %>
            </div>
          </div>
        </div>
      </td></tr>
    <% end %>
  <% end %>
  </table>
</div>