<% if logged_in? %>
  <p><%= link_to "プロファイル", user_path(current_user) %></p>
  <p><%= link_to "ログアウト", logout_path, method: :delete %></p>
<% else %>
  <p><%= link_to "ログイン", login_path %></p>
<% end %>

<% if logged_in? %>
<%= link_to "お店を登録する", new_item_path %>
<% end %>

      <%= link_to "ユーザー一覧", users_path %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
