<% if logged_in? %>
  <%= link_to " お店を登録する |", new_item_path %>
  <%= link_to " 管理 |", management_path %>
  <%= link_to " ログアウト |", logout_path, method: :delete %>
<% else %>
  <%= link_to " ログイン |", login_path %>
<% end %>



<span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  開発用  
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "ユーザー一覧", users_path %></li>
  </ul>
</span>

