<!DOCTYPE html>
<html>

  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="main">

    <div class="header-top">  

      <%= link_to image_tag("logo.jpg", class:"logo"), items_path %>
      
      <div class="pull-right">
        <%= render "layouts/header_menu"%>
      </div>

    <!-- flash -->      
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    </div>
      
      <%= yield :content_header%>
  </header>
  <body class="main">
    <div class="container bg-white padding-content" >
      <%= yield %>
    </div>
  <% if !(logged_in?) %>  
    <%= link_to "*店主様　お店を登録しませんか", new_user_path %>
  <% end %>
  </body>
  </div>
</html>

